{% extends 'search/base.html' %}

{% block content %}
    <div style="text-align: center;"><h2>{{ data.title }}의 리뷰 작성</h2></div>
    <hr>
    <div style="text-align: center; align-items: center;">
        <div class="card text-white bg-primary mb-3"
             style="display: inline-block; max-height: 300px; max-width: 200px; font-size: 10pt; text-align: center;">
            <div style="text-align: center;">
                <div class="card-header">제목 : {{ data.title }}</div>
                {% if data.image == '' %}
                    {% comment %} 없는 이미지 {% endcomment %}
                    <img src="https://www.namdokorea.com/site/jeonnam/tour/images/noimage.gif"
                         style="max-height: 300px; max-width: 150px"><br>
                {% else %}
                    <img src="{{ data.image }}" style="max-height: 300px; max-width: 200px"><br>
                {% endif %}
            </div>
        </div>
        <form method="POST" class="MovieReview">
            {% csrf_token %}
            {{ form.as_table }}
            <div style="text-align: center;">
                <button type="submit" class="btn btn-secondary">Save</button>
            </div>
        </form>
    </div>
{% endblock %}